
.home-body {
  background: url('../images/home/bg.jpg') no-repeat center center / cover;
}

.home-header {
  width: 100%;
  aspect-ratio: 50 / 18;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.home-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  margin-bottom: 5%;
}
.main .bubble-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  gap: 0;
  margin: 0 auto;
}
.main .main-bubble {
  width: 87%;
  aspect-ratio: 441 / 398;
  margin: 0 auto;
}
.main .main-bubble img {
  width: 80%;
  object-fit: contain;
}
.main .bubble img {
  width: 100%;
  object-fit: contain;
}
.main .left-bubble {
  position: absolute;
  left: 0;
  top: 10%;
  width: 30%;
}
.main .right-bubble {
  width: 47%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 92%;
  margin: 0 auto;
  gap: 1%;
  padding: 0 4% 0 6%;
}

.footer .left {
  width: 18%;
  transform-origin: bottom center;
  /* transition: transform 0.2s ease; */
  /* animation: leverMove 1.2s ease-in-out infinite; */
}
.footer .center {
  width: 44%;
  transition: transform 0.1s ease;
  border: none;
  background: none;
  cursor: pointer;
  animation: pressEffect 1.2s infinite ease-in-out;
  transform-origin: center;
}

@keyframes pressEffect {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9) translateY(2px);
  }
  60% {
    transform: scale(0.92) translateY(1px);
  }
  100% {
    transform: scale(1);
  }
}

.footer .right {
  width: 27%;
  margin-bottom: 5%;
}
.footer .left svg,
.footer .center svg,
.footer .right svg  {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes leverMove {
  0% {
    transform: rotate(0deg) rotateX(0deg) scale(1);
  }
  20% {
    transform: rotate(-5deg) rotateX(4deg) scale(1.02);
  }
  40% {
    transform: rotate(4deg) rotateX(-3deg) scale(0.98);
  }
  60% {
    transform: rotate(-2deg) rotateX(2deg) scale(1.01);
  }
  80% {
    transform: rotate(1deg) rotateX(-1deg) scale(0.995);
  }
  100% {
    transform: rotate(0deg) rotateX(0deg) scale(1);
  }
}
